{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block extrajs %}{% endblock %}
{% endblock %}


{% block header %}
<div id="header" style="background: url({% static 'img/top-bg.gif' %}) repeat-x scroll center bottom #3580CA;">
  <div id="logo" style="vertical-align:middle">
    <a class="brand pull-left" href="/">
      <img src="{% static 'img/waTextBlack_80-bluebg.gif' %}" alt="Government of Western Australia" />
    </a>
    <a href="/" style="margin-left:30px">
      <img src="{% static 'img/logo-dpaw.gif' %}" alt="Department of Parks and Wildlife" />
    </a>
  </div>
  <div  style="vertical-align:middle;">
    <a href="/">
      <img src="{% static 'img/logo-penguins.png' %}" alt="Little Penguins Database">
    </a>
  </div>
  
  <div id="user-tools">
  {% if has_permission %}
      {% block welcome-msg %}
          {% translate 'Welcome,' %}
          <strong>{% firstof user.get_short_name user.get_username %}</strong>.
      {% endblock %}
      {% block userlinks %}
          <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
              {% csrf_token %}
              <button type="submit">{% translate 'Log out' %}</button>
          </form>
          {% include "admin/color_theme_toggle.html" %}
      {% endblock %}
  {% endif %}
  </div>
</div>
<div id="topmenu">
    <a href="{% url 'admin:index' %}"><i class="fa-solid fa-house"></i> Home</a>
    {% if user.is_superuser %}
    <a href="{% url 'admin:observations_camera_changelist' %}"><i class="fa-solid fa-camera"></i> Cameras</a>
    <a href="{% url 'admin:observations_video_changelist' %}"><i class="fa-solid fa-video"></i> Videos</a>
    <a href="{% url 'admin:observations_penguinobservation_changelist' %}"><i class="fa-solid fa-eye"></i> Observations</a>
    <a href="{% url 'admin:auth_user_changelist' %}"><i class="fa-solid fa-user"></i> Users</a>
    {% endif %}
    <a href="{% url 'help_page' %}"><i class="fa-solid fa-circle-question"></i> Help</a>
</div>
{% endblock %}


{% block footer %}
<footer >
    <div style="float:left;padding-left:50px;color:#999;">
        <pre>
Application version: {{ application_version_no }}
        </pre>
    </div>
    <div style="float:right;padding-right:50px;color:#999;">
        <pre>
&copy; Department of Biodiversity, Conservation and Attractions
        </pre>
    </div>
</footer>
{% endblock footer %}

{% block nav-sidebar %}
{% endblock %}

